[Unit]
Description=Run a System initialization once after reboot
After=network.target

[Service]
Type=oneshot
User=root
ExecStart=/bin/bash -c 'ansible-playbook -i /root/inventory /root/master.yml --tags init -vvvv &> /root/init.out'

[Install]
WantedBy=multi-user.target

